*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #fff;
    color: black;
    /* background: url("../images/Isabelle’s\ Life_\ Gently\ Raising\ Dairy\ Cows.png") center center; */
    
}


.shades p{
margin: 5%;
font-weight: 700;
}


input{
    padding: 15px;
    box-shadow: 1px 2px 2px white;
    border-radius: 3%;
}
#button1{
    margin-top: 20%;
    font-weight: 500;
    background-color: darkgray;
    width: 12vw;
    height: 5vh;
    text-shadow: 1px 1px 1px;
    border-radius: 15%;
}


.shades{
    display: flex;
    justify-content: space-between;
    margin: 10%;
}


.shades21{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20%;
    font-size: 25px;
    padding: 5%;
}


#button2{
    background-color: darkgrey;
    font-weight: 700;
    font-size: 25px;
    width: 12vw;
    height: 5vh;
    align-items: center;
    border-radius: 10%;
    margin-bottom: 5%;
}

.shades2 h2{
    padding: 3%;
    margin-bottom: 7%;
}


.outputMain{
    font-size: 2rem;
    background-color: darkgray;
    width: 20vw;
    height: 5vh;
    color: black;
    box-shadow: 1px 2px 2px darkgray;
    border: 2px darkgray;
    padding: 2%;
    margin-left: 1%;
    margin-top: 5%;
}

.incomePerDay{
    background-color: red;
    width: 15vw;
    height: 7vh;
    font-size: 2rem;
    color: white;
}

.incomePerWeek{
    background-color: red;
    width: 15vw;
    height: 7vh;
    font-size: 2rem;
    color: white;
}

.secondDiv{
    display: flex;
}