*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #B7D0E1;
}



.shades p{
margin: 5%;
font-weight: 700;
}


input{
    padding: 15px;
    box-shadow: 1px 2px 2px white;
    border-radius: 3%;
}


#button1{
    margin-top: 20%;
    font-weight: 500;
    background-color: darkgray;
    width: 12vw;
    height: 5vh;
    text-shadow: 1px 1px 1px;
    border-radius: 15%;
}


.shades{
    display: flex;
    justify-content: space-between;
    margin: 10%;
}


.shades21{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    font-size: 25px;
    padding: 5%;
}


#button2{
    background-color: darkgrey;
    font-weight: 700;
    font-size: 25px;
    width: 12vw;
    height: 5vh;
    align-items: center;
    border-radius: 10%;
    margin-bottom: 5%;
}


.shades2 h2{
    padding: 3%;
    margin-bottom: 7%;
}


.outputMain{
    font-size: 2rem;
    background-color: darkgray;
    width: 20vw;
    height: 5vh;
    color: black;
    box-shadow: 1px 2px 2px darkgray;
    border: 2px darkgray;
    padding: 2%;
    margin-left: 1%;
    margin-top: 5%;
}


.empty{
    width: 100%;
    height: 3%;
    background-color: darkgray;
    color: darkgray;
}


.sums h1{
    text-align: center;
    margin-top: 5%;
}


.sums h3{
    text-align: center;
    padding: 2%;
}


.incomePerDay{
    background-color: #5F84A2;
    width: 20vw;
    height: 7vh;
    font-size: 2rem;
    color: white;
    margin-top: 2%;
}


.incomePerWeek{
    background-color: #5F84A2;
    width: 20vw;
    height: 7vh;
    font-size: 2rem;
    color: white;
    margin-top: 2%;
}


.incomePerYear{
    background-color: #5F84A2;
    width: 20vw;
    height: 7vh;
    font-size: 2rem;
    color: white;
    margin-top: 2%;
}


.secondDiv{
    display: flex;
    justify-content: space-between;
    margin: 7%;
}


.incomeInLeapYear{
    background-color: #5F84A2;
    width: 20vw;
    height: 7vh;
    font-size: 2rem;
    color: white;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-right: 5%;
}


#lastDiv{
    float: right;
    margin-top: 4%;
    margin-right: 20%;
}


#lastDiv h2{
    margin-bottom: 7%;
}