*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #fff;
    color: black;
    /* background: url("../images/Isabelle’s\ Life_\ Gently\ Raising\ Dairy\ Cows.png") center center; */
    
}


.shades p{
margin: 5%;
font-weight: 700;
}


input{
    padding: 15px;
    box-shadow: 1px 2px 2px white;
    border-radius: 3%;
}
#button1{
    margin-top: 20%;
    font-weight: 500;
    background-color: aqua;
    width: 12vw;
    height: 5vh;
    text-shadow: 1px 1px 1px;
    border-radius: 10%;
}

.shades{
    display: flex;
    justify-content: space-between;
    margin: 10%;
}

.outputMain{
    font-size: 2rem;
    background-color: brown;
    width: 12vw;
    height: 5vh;
    color: black;
}

.incomePerDay{
    background-color: red;
    width: 15vw;
    height: 7vh;
    font-size: 2rem;
    color: white;
}

.incomePerWeek{
    background-color: red;
    width: 15vw;
    height: 7vh;
    font-size: 2rem;
    color: white;
}

.secondDiv{
    display: flex;
}