*{
    padding: 0;
    margin: 0;
}

.shades{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.outputMain{
    font-size: 2rem;
    background-color: brown;
    width: 12vw;
    height: 5vh;
    color: black;
}